Source: io.elementary.camera
Section: x11
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 10.5.1)
Standards-Version: 3.9.6
Homepage: https://github.com/elementary/camera

Package: io.elementary.camera
Architecture: any
Priority: optional
Depends: flatpak, ${misc:Depends}
Conflicts: pantheon-camera, snap-photobooth
Replaces: pantheon-camera, snap-photobooth
Description: Camera app for Pantheon
 Capture photos and videos using your webcam in elementary style.

Package: pantheon-camera
Architecture: any
Depends: io.elementary.camera, ${misc:Depends}
Section: oldlibs
Priority: optional
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: snap-photobooth
Architecture: any
Depends: io.elementary.camera, ${misc:Depends}
Section: oldlibs
Priority: optional
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
