[Desktop Entry]
Type=Application
Version=0.1
Name=Snap
Comment=The photobooth app for elementary
GenericName=Photobooth
Exec=snap
Icon=snap
Terminal=false
Categories=GNOME;AudioVideo;
StartupNotify=true