[Desktop Entry]
Type=Application
Version=0.1
Name=Snap
Comment=Take photo and video with the camera
GenericName=Photo Booth
Exec=snap-photobooth
Icon=snap-photobooth
Terminal=false
Categories=GNOME;AudioVideo;
StartupNotify=true

X-GNOME-Gettext-Domain=snap
