[Desktop Entry]
Type=Application
Version=0.1
Name=Snap
Comment=Take photos with your web cam
GenericName=Photo Booth
Exec=snap
Icon=snap
Terminal=false
Categories=GNOME;AudioVideo;
StartupNotify=true

X-GNOME-Gettext-Domain=snap